:root {
    --pink: rgb(230, 230, 230);
    --yellow: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
}
body {
    background:var(--pink);
    display:flex;
    flex-direction:column;
    
}

header {
    display:flex;
    flex-direction:column;
    flex:1;
    flex-wrap:wrap;
    height: 15vh;
    border-bottom: 2px dashed var(--yellow);
    margin:0 1% 20px 1%;
    height: 20%;
}

#header {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height:80%;
    font-size:80px;
    margin:40px auto 10px auto;
    text-align:center;
    font-family: 'Newsreader', serif;
    
}

#header h6 {
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    color:rgb(94, 94, 94);
    
}

#header a {
    text-decoration: none;
    color: rgb(24, 24, 24);
}

#body {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex:1 0 auto;
}

#main {
    margin:0 1%;
    width:80%;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:40vh;
}

.cards {
    padding:10px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:center;
    margin:30px auto;
    width:30%;
    min-height:40vh;
    transition:width ease .2s;
    font-family: 'Newsreader', serif;
    text-align:center;
}

#important {
    width:65%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    border-bottom:2px dashed var(--yellow);
}

#bighead {
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    justify-content: center;
}

#bighead h2 {
    font-size: 60px;
}

#bighead h6 {
    position: relative;
    left:160px;
    font-size: 16px;
    justify-content:center;
}

.first-card {
    display:flex;
    flex-direction:column;
    margin:0 auto;
    width:20%;
}

img {
    border-radius:50%;
    width:80%; 
    height: auto;
    opacity:.7;
    box-shadow: inset 0 0 5px 10px var(--pink);
}

img:hover {
    opacity:1;
    transition:opacity ease .3s;
}

.aside {
    display: flex;
    margin: 0 1%;
    width: 30px;
    flex-direction:column;
    align-items: center;
    position:relative;
    flex:1;
}

.aside a {
    text-decoration:none;
    color:black;
}

#aside-nav {
    display:flex;
    position:relative;
    bottom:100px;   
}

#aside-nav a {
    text-decoration: none;
    color:rgb(179, 179, 179);
}

#aside-nav a:visited {
    color:rgb(94, 94, 94);
}

#aside-header {
    font-size:150px;
    position: relative;
    bottom:100px;
    background:rgb(230, 230, 230, .8);
    border:2px dashed var(--yellow);
    border-radius: 100%;
    width:175px;
    text-align:center;
}

#aside-header:hover {
    text-shadow: 5px 5px 20px rgb(156, 156, 156);
}

#aside-header:focus {
    text-shadow: 5px 5px 20px rgb(156, 156, 156);
}

#aside-header:focus {
    outline: 0px solid transparent;
}

#aside-nav ul {
    list-style: none;
    font-size:20px;
    text-align:center;
}

#aside-nav li {
    
    border: 2px dashed var(--yellow);
    border-radius: 75px;
    padding:5px;
    margin: 30px auto;
}

#aside-nav li:hover {
    text-shadow: 5px 5px 20px rgb(156, 156, 156);
}

footer {
    flex-shrink:0;
    border-top: 2px dashed var(--yellow);
    display:flex;
    justify-content:center;
    align-items: flex-end;
    margin: 10px 35%;
    min-height: 3vh;
    color:rgb(114, 114, 114);
    text-align:center;
}

#okinawa {
    border:none;
    width:20%;
    font-family: 'Roboto Slab', serif;
    margin: 20px auto;
}

#okinawa:hover {
    opacity:.4;
    transition:opacity ease .3s;
    width:30%;
}

#okinawa:hover h2 {
    text-shadow: 5px 5px 20px rgb(255, 156, 156);
    transition:shadow ease .3s;
}

#vaporwave {
    border:none;
    width:24%;
    height:auto;
    margin:20px auto;
    font-family: 'Roboto Slab', serif;
}

#vaporwave:hover h2{
    text-shadow: 5px 5px 20px rgb(255, 0, 255);
}

#vaporwave:hover {
    width:100%;
}

#about-me1 {
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    width:60%;
    justify-content: center;
    font-family: 'Newsreader', serif;
}

#about-me1 h2 {
    margin:20px auto;
}

@media screen and (max-width:992px) {

    #main {
        width:66%;
    }
    .cards {
        width:40%;
    }
    #bighead {
        font-size:40px;
    }
    #important {
        width:55%
    }
}

@media screen and (max-width:768px) {
    
    #main {
        width:60%;
    }
    .cards {
        width:40%;
    }
    #bighead {
        font-size:27px;
    }

    #bighead h6 {
        position:relative;
        left:0;
    }

    #important {
        width:40%;
    }
}

@media screen and (max-width:600px) {
    #header {
        font-size:60px;
    }
    #main {
        width:99%;
        flex-direction:column;
        margin-top:50px;

    }
    .aside {
        margin-top:220px;
    }
    #aside-header {
        bottom:2090px;
        background:transparent;
        border:none;
    }
    .cards {
        width:100%;
    }
    .cards img {
        width:100%;
    }
    #bighead  h2{
        width:100%;
        font-size:50px;
    }

    #bighead h6 {
        font-size:16px;
    }

    #important {
        width:100%;
        border:none;
    }

    #okinawa {
        width:80%;
    }

    #okinawa:hover {
        width:100%;
    }

    #vaporwave {
        width:80%;
    }
}